<!DOCTYPE html>
<html lang="tr">
@await Component.InvokeAsync("_HeaderViewComponentPartial")
<body>

    @await Component.InvokeAsync("_NavbarViewComponentPartial")

    <!-- Content -->
    <div class="container mt-4">
        @RenderBody()
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>